@import "bootstrap";

// Account Login

.account-login {
    .page-title > h1 {
        margin: 0.5em 0;
    }

    h2 {
        color: $orange;
    }

    .new-users {
        padding: 0 0 1em 0;
        float: left;

        @media all and (min-width: 750px) {
            height: 297px;
            padding: 0 0 0 4em;
            position: relative;
        }

        @media all and (min-width: 750px) and (max-width: 1000px) {
            height: 319px;
        }

        p { height: 100px;}

        .buttons-set {

            @media all and (min-width: 750px) {
                padding-top: 8em;
            }

            margin: 0;

            .button {
                padding: 0.6em 3em;
                width: 100%;
            }

        }
    }

    .registered-users {

        @media all and (min-width: 750px) {
            padding: 0 4em 0 0;
            border-right: $lightGrey solid 1px;
        }


        > p {
            height: 50px;
            margin: 0;
        }

        .form-list {

            width: 100%;

            li {
                margin-bottom: 0.5em;
            }

            .buttons-set {
                padding: 0;
                margin-bottom: 0;

                .button {
                    width: 100%;
                    padding: 0.6em 3em;
                }

            }

            .input-box {
                @include inline-block;
                width: 100%;
            }

            .input-text {
                width: 100%;
            }

            .note {

                padding-bottom: 1em;

                a {
                    text-decoration: underline;
                    color: #000;
                    @include font-size(1.2);
                }
            }
        }

        @media all and (max-width: 750px) {
            .required { padding: 1em 0;}
        }
    }
}

.account-create {

    @include breakpoint("mama-bear") {
        padding-bottom: 1em;

        .input-text {
            width: 100%;
        }
    }

    h2 {
        padding-top: 1em;
        color: $orange;
    }

    .button {
        float: right;
        width: 100%;
        padding: 0.5em 1.5em;

        @include breakpoint("mama-bear") { width: 70%;}
    }

    p.required {
        text-transform: uppercase;
        color: #000;
        @include font-size(1.2);
        text-align: right;
        width: 100%;
        padding-left: 0;
        padding-bottom: 3em;
        float: right;
    }

    .buttons-set { padding: 0;}

    @media all and (max-width: 400px) {
        form-list label { width: 300px;}
    }

}

body p.back-link {

    margin: 0 1em 2em 0;
    float: left;
    width: 100%;

    @include breakpoint("mama-bear") { width: 25%;  margin: 0 1em 0 0; padding-top: 1em;}

    a  {

        background: image-url('sprite.png') no-repeat 0 -384px;
        text-decoration: none;
        padding: 0.2em 0 0.2em 1em;
        color: #000;
        @include font-size(1.4);
        text-transform: uppercase;
        text-decoration: none;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (min--moz-device-pixel-ratio: 1.5),
          only screen and (min-resolution: 240dpi) {
                background-image:image-url('sprite@2x.png');
                background-size: 200px 500px;
            }

        small {
            display: none;
        }

        &:hover { text-decoration: underline;}
    }
}