.top-panel {
    background: $shade-colour;
    height: 60px;
    @include pie-clearfix;
}


// Site Switcher

.nav-sites {
    margin-bottom: 0;
    @include pie-clearfix;
    width: 100%;
    margin-right: 10px;

    @include breakpoint("baby-bear") {
        width: 375px;
    }

    li {
        float: left;
        width: 33.3%;

        @include breakpoint("mama-bear") {
            width: 115px;

            &.reedit { width: 90px;}
        }

    }

    a {
        width: 100%;
        display: block;
        // line-height: 60px;
        height: 60px;
        text-align: center;
    }

    .active-site {
        background: #fff;
    }



    .site-salon > a,
    .site-shop > a,
    .reedit > a {
        @include hide-text;
    }

    .reedit > a {
        background: image-url("nav-site-re-edit.png") no-repeat center center;
        @include image-2x("nav-site-re-edit-2x.png", 55px, 11px);
    }

    .site-salon > a {
        background: image-url("nav-site-salon.png") no-repeat center center;
        @include image-2x("nav-site-salon-2x.png", 88px, 11px);
    }

    .site-shop > a {
        background: image-url("nav-site-shop.png") no-repeat center center;
        @include image-2x("nav-site-shop-2x.png", 80px, 11px);
    }

    .site-logout {
        a {
            @include font-size(1.3);
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
            padding-top: 24px;

            &:hover {
                text-decoration: underline;
            }

        }

        @include breakpoint("baby-bear") {
            display: none;
            visibility: hidden;
        }
    }

}


// Quick Access

.quick-access {
    @include breakpoint("baby-bear") {
        width: 31%;
    }

    @include breakpoint("mama-bear") {
        width: 350px;
    }

    .links {
        @include font-size(1.2);
        margin-bottom: 0;
        line-height: 5em; // 60 / 12

        @include breakpoint("mama-bear") {
            float: right;
        }

        li {
            &:after {
                color: #888888;
                content: '/';
                margin: 0 5px; // 5 / 12
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}