.row {
    @include pie-clearfix;
    clear: both;
    width: 100%;
}

.col {
    float: left;
}

// Mobile 'n' up styles!

.one-eighth {
    width: 25%;
}

.one-quarter {
    width: 50%;
}

.three-quarters,
.one-half,
.three-eighths,
.five-eighths,
.seven-eighths,
.one-third {
    float: none;
    width: 100%;
}

@include breakpoint("baby-bear") {
    .three-quarters,
    .one-half,
    .three-eighths,
    .five-eighths,
    .seven-eighths,
    .one-third {
        float: left;
    }

    .one-eighth {
        width: 12.5%
    }

    .one-quarter {
        width: 25%
    }

    .one-third {
        width: 33%
    }

    .three-eighths {
        width: 37.5%;
    }

    .one-half {
        width: 50%;
    }

    .five-eighths {
        width: 62.5%;
    }

    .three-quarters {
        width: 75%
    }

    .seven-eighths {
        width: 87.5%;
    }

    .full-width {
        width: 100%
    }
}