/*
 *  Layout Styles
 *
 *  Styles in here apply ONLY to layout specific elements
 *  that are part of the sites global structure. If you are
 *  looking to make layout changes to a more specific area of
 *  the site, please do so in it's relevant partial.
 *
 */


@import "grid";

.wrapper {
}

.page,
.wrap {
    @include pie-clearfix;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    position: relative;
}

.page {
    background: #fff;
}

.main {
    @include pie-clearfix;
    position: relative;
    clear: both;
    @include min-height(300px);

    @include breakpoint("mama-bear") {
        @include min-height(500px);
    }
}


// Base Columns

.col-left,
.col-right {
    float: none;
    width: 100%;

    @include breakpoint("baby-bear") {
        padding: 1.428571429em; // 20 / 14
        width: 25%;
    }
}

.col-left {
    @include breakpoint("baby-bear") {
        float: left;
    }
}

.col-right {
    @include breakpoint("baby-bear") {
        float: right;
    }
}

.col-main {
    width: 75%;
}


// 1 Column Layout

.col1-layout .col-main {
    float: none;
    width: auto;
    padding: 1.428571429em 1.142857143em; // 20, 16 / 14
}


// 2 Columns Layout

.col2-left-layout {
    .col-main {
        width: 100%;
        padding: 0 1.142857143em ; // 16 / 14

        @include breakpoint("mama-bear") {
           @include min-height(500px);
        }

         @include breakpoint("baby-bear") {
            width: 75%;
            float: right;
            padding: 0 1.5em 1em 2.5em;
            border-left: 1px solid $lightGrey;
        }
    }

    .col-left {
        padding: 0 1.142857143em; // 16 / 14

        @include breakpoint("baby-bear") {
         padding: 1.428571429em; // 20 / 14
        }

    }
}


// 3 Column Layout

.col3-layout {
    .col-right {
        @include breakpoint("baby-bear") {
            width: 25%;
        }
    }

    .col-left {
        @include breakpoint("baby-bear") {
            width: 33.3333%;
        }
    }

    .col-wrapper {
        width: 100%;

        @include breakpoint("baby-bear") {
            width: 75%;
            float: left;
        }

        .col-main {
            width: 100%;

            @include breakpoint("baby-bear") {
                float: right;
                width: 66.66666%;
            }
        }
    }
}


// Content Columns


.col2-set {
    @include pie-clearfix;
    float: left;
    width: 100%;

    @media all and (min-width: 750px) {
        .col-1 {
            float: left;
            width: 49%;
        }

        .col-2 {
            float: right;
            width: 49%;
        }

        .col-narrow {
            width: 33%;
        }

        .col-wide {
            width: 65%;
        }
    }
}

.col3-set {
    .col-1 {
        float: left;
        width: 32%;
    }

    .col-2 {
        float: left;
        width: 32%;
        margin-left: 2%;
        margin-right: 2%
    }

    .col-3 {
        float: right;
        width: 32%;
    }
}

.col4-set {
    .col-1 {
        float: left;
        width: 23.5%;
    }

    .col-2 {
        float: left;
        width: 23.5%;
        margin: 0 2%;
    }

    .col-3 {
        float: left;
        width: 23.5%;
    }

    .col-4 {
        float: right;
       width: 23.5%;
    }
}