.products-list {
    li.item {
        padding:12px 10px
    }

    .product-image {
        float:left;
        width:135px;
        height:135px;
        margin:0 0 10px
    }

    .product-shop {
        margin-left:150px
    }

    .product-name {
        margin:0 0 5px;
        font-weight:700;
        @include font-size(1.3);
    }

    .price-box {
        float:left;
        margin:3px 13px 5px 0
    }

    .availability {
        float:left;
        margin:3px 0 0
    }

    .desc {
        clear:both;
        padding:6px 0 0;
        margin:0 0 15px;
    }

    .add-to-links {
        clear:both;

        li {
            display:inline;
        }

        .separator {
            display:inline;
            margin:0 2px;
        }
    }
}


// Mini Products List

.mini-products-list {
    li {
        padding:5px 0
    }

    .product-image {
        width:90px;
        padding:0;
        border:1px solid $lightGrey;
        float: left;
    }

    .product-details {
        margin-left:110px;
    }

    .product-details > h4 {
        font-size:1em;
        font-weight:700;
        margin:0
    }
}