@font-face {
  font-family: "Swiss721BT-Light";
  src: url('../../fonts/29B170_0_0.eot?1414400187');
  src: url('../../fonts/29B170_0_0.eot?&1414400187#iefix') format('embedded-opentype'), url('../../fonts/29B170_0_0.woff?1414400187') format('woff'), url('../../fonts/29B170_0_0.ttf?1414400187') format('truetype'); }
@font-face {
  font-family: "Swiss721BT-Roman";
  src: url('../../fonts/29B170_1_0.eot?1414400187');
  src: url('../../fonts/29B170_1_0.eot?&1414400187#iefix') format('embedded-opentype'), url('../../fonts/29B170_1_0.woff?1414400187') format('woff'), url('../../fonts/29B170_1_0.ttf?1414400187') format('truetype'); }
@font-face {
  font-family: "Swiss721BT-Bold";
  src: url('../../fonts/29B170_2_0.eot?1414400187');
  src: url('../../fonts/29B170_2_0.eot?&1414400187#iefix') format('embedded-opentype'), url('../../fonts/29B170_2_0.woff?1414400187') format('woff'), url('../../fonts/29B170_2_0.ttf?1414400187') format('truetype'); }
@font-face {
  font-family: "Swiss721BT-Thin";
  src: url('../../fonts/29B170_3_0.eot?1414400187');
  src: url('../../fonts/29B170_3_0.eot?&1414400187#iefix') format('embedded-opentype'), url('../../fonts/29B170_3_0.woff?1414400187') format('woff'), url('../../fonts/29B170_3_0.ttf?1414400187') format('truetype'); }
/* line 5, ../../scss/cms/404.scss */
.cms-index-noroute .col1-layout .col-main {
  padding: 0; }
  /* line 9, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-regis .col {
    margin: 30px 0;
    text-align: center; }
    /* line 12, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-regis .col:first-child {
      padding: 80px 20px 0 20px; }
      @media screen and (max-width: 750px) {
        /* line 12, ../../scss/cms/404.scss */
        .cms-index-noroute .col1-layout .col-main .error-regis .col:first-child {
          padding: 0 20px; } }
    /* line 18, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-regis .col h1,
    .cms-index-noroute .col1-layout .col-main .error-regis .col h2,
    .cms-index-noroute .col1-layout .col-main .error-regis .col p {
      font-family: "Swiss721BT-Thin", Arial, Helvetica, sans-serif; }
    /* line 24, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-regis .col h1 {
      margin: 0 0 20px 0;
      /* a fallback for IE8 and below */
      font-size: 72px;
      font-size: 7.2rem;
      line-height: 1; }
    /* line 30, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-regis .col h2 {
      margin: 0 0 40px 0;
      /* fallback for IE8 and below */
      font-size: 30px;
      font-size: 3rem;
      line-height: 1; }
    /* line 36, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-regis .col p {
      color: #000;
      padding: 0 61px; }
      @media screen and (max-width: 750px) {
        /* line 36, ../../scss/cms/404.scss */
        .cms-index-noroute .col1-layout .col-main .error-regis .col p {
          padding: 0; } }
      /* line 42, ../../scss/cms/404.scss */
      .cms-index-noroute .col1-layout .col-main .error-regis .col p a {
        color: #000;
        font-family: "Swiss721BT-Bold", Arial, Helvetica, sans-serif;
        text-decoration: none; }
  /* line 53, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col .row {
    padding: 12px; }
  /* line 56, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col .row:first-child {
    padding: 100px 0;
    background: #004fa3; }
  /* line 60, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h1,
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h2,
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h3,
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center; }
  /* line 67, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h1 {
    /* fallback for IE8 and below */
    font-size: 70px;
    font-size: 7rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    margin: 0 0 35px 0;
    color: #fff; }
  /* line 76, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h2 {
    /* fallback for IE8 and below */
    font-size: 42px;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    color: #fff; }
  /* line 84, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col h3 {
    font-size: 30px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin: 13px 0 25px 0;
    color: #004fa3; }
  /* line 91, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col p {
    padding: 0 30px;
    color: #000; }
    /* line 94, ../../scss/cms/404.scss */
    .cms-index-noroute .col1-layout .col-main .error-supercuts .col p a {
      color: #000; }
  /* line 98, ../../scss/cms/404.scss */
  .cms-index-noroute .col1-layout .col-main .error-supercuts .col img {
    width: 100%; }
