.tool-tip {
    border:1px solid #ddd;
    background-color:#f6f6f6;
    padding:5px;
    position:absolute;
    z-index:9999;

    .btn-close {
        text-align:right;

        a {
            display:block;
            margin:0 0 0 auto;
            width:15px;
            height:15px;
            // background: image-url('btn_window_close.gif') 100% 0 no-repeat;
            text-align:left;
            text-indent:-999em;
            overflow:hidden
        }
    }

    .tool-tip-content {
       padding:5px
    }
}


// Options Tool Tip
.item-options dt {
    font-weight:700;
    font-style:italic
}

.item-options dd {
    padding-left:10px
}

.truncated {
    cursor:help
}

.truncated a.dots {
    cursor:help
}

.truncated a.details {
    cursor:help
}

.truncated .truncated_full_value {
    position:relative;
    z-index:999
}

.truncated .truncated_full_value .item-options {
    position:absolute;
    top:-99999em;
    left:-99999em;
    z-index:999;
    width:250px;
    padding:8px;
    border:1px solid #ddd;
    background-color:#f6f6f6
}

.truncated .truncated_full_value .item-options > p {
    font-weight:700;
    text-transform:uppercase
}

.truncated .show .item-options {
    top:-20px;
    left:50%
}

.col-left .truncated .show .item-options {
    left:30px;
    top:7px
}

.col-right .truncated .show .item-options {
    left:-240px;
    top:7px
}